@import "../scss/variableAndFunctions";

.gridify {
  margin: auto;
  width: 25vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  width: 100%;
  height: 100%;
}

.cell {
  width: 100%;
  height: 100%;
  border: $test-border;
  &:hover {
    background-color: bisque;
    cursor: pointer;
  }
}

div {
  &[shothere="true"] {
    background-color: red;
  }
  &[boat="null"] {
    &[shothere="true"] {
      &::after {
        background-color: white;
        @include flexCenter("row");
        content: "X";
        height: 100%;
        width: 100%;
      }
    }
  }
}
