@import "../scss/variableAndFunctions";

.moduleBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  h1 {
    color: black;
    align-self: center;
    font-size: 5rem;
    text-align: center;
    padding: 0.25em 0;
  }
}

.carrier {
  display: flex;
  height: 2.5vh;
  width: 12.5vh;
  background-color: grey;
  margin: auto;
  &.flip {
    height: 12.5vh;
    width: 2.5vh;
    flex-direction: column;
  }
}
.battleship {
  display: flex;
  height: 2.5vh;
  width: 10vh;
  background-color: grey;
  margin: auto;
  &.flip {
    height: 10vh;
    width: 2.5vh;
    flex-direction: column;
  }
}
.cruiser {
  display: flex;
  height: 2.5vh;
  width: 7.5vh;
  background-color: grey;
  margin: auto;
  &.flip {
    height: 7.5vh;
    width: 2.5vh;
    flex-direction: column;
  }
}
.sub {
  display: flex;
  height: 2.5vh;
  width: 7.5vh;
  background-color: grey;
  margin: auto;
  &.flip {
    height: 7.5vh;
    width: 2.5vh;
    flex-direction: column;
  }
}
.patrolBoat {
  display: flex;
  height: 2.5vh;
  width: 5vh;
  background-color: grey;
  margin: auto;
  &.flip {
    height: 5vh;
    width: 2.5vw;
    flex-direction: column;
  }
}

.shipAndFlip {
  display: flex;
  flex-direction: column;
  h2 {
    color: black;
    align-self: center;
    font-size: 3rem;
    text-align: center;
    padding: 0.5em 0 0 0;
  }
  .errorMsg {
    color: red;
    font-size: 1.5rem;
    background-color: #ff8f8f;
    border-radius: 10px;
    padding: 0;
  }
}

#rotate {
  height: 5vw;
  padding: 0 2em;
  align-self: center;
  font-size: 1.25rem;
  margin: 0 0 1em 0;
  border-radius: 18px;
}

div {
  & .human {
    &[boat="carrier"] {
      background-color: rgb(223, 191, 87);
      &[shothere="true"] {
        background-color: red;
      }
    }
    &[boat="battleship"] {
      background-color: rgb(13, 148, 103);
      &[shothere="true"] {
        background-color: red;
      }
    }
    &[boat="cruiser"] {
      background-color: rgb(83, 13, 60);
      &[shothere="true"] {
        background-color: red;
      }
    }
    &[boat="sub"] {
      background-color: rgb(221, 122, 122);
      &[shothere="true"] {
        background-color: red;
      }
    }
    &[boat="patrolBoat"] {
      background-color: rgb(26, 95, 97);
      &[shothere="true"] {
        background-color: red;
      }
    }
    &[boat="null"] {
      background-color: white;
      &:hover {
        background-color: antiquewhite;
      }
    }
  }
}
